<link rel="stylesheet" href="assets/css/account.min.css" />

<style>
    .fieldValid {
        border: 1px solid #00ff00;
    }
    .fieldInvalid {
        border: 1px solid #ff0000;
    }
</style>

<div ng-controller="RegisterController as register">
    <rb-account-head-bar></rb-account-head-bar>

    <div class="clearfix"></div>
    <br/>
    <br/>

    <form name="registerForm" ng-submit="register.submit()" novalidate>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="text-center rb-journal-regular" translate="REGISTER">registre-se</h3>
                </div>
                <div class="panel-body">
                    <rb-input-name id="name" ng-model="register.user.name"></rb-input-name>

                    <rb-input-email id="email" ng-model="register.user.email"></rb-input-email>

                    <div class="form-group">
                        <label for="password" translate="PASSWORD">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="{{ 'INPUT_YOUR_PASSWORD' | translate }}" required/>
                    </div>
                    <div class="form-group">
                        <label for="password" translate="CONFIRM_PASSWORD">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" placeholder="{{ 'INPUT_YOUR_CONFIRM_PASSWORD' | translate }}" required/>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="submit" class="btn btn-primary" value="{{ 'CONTINUE' | translate }}" />
                </div>
            </div>
        </div>
    </form>
</div>