<div
        ng-controller="InputEmailController as inputemail"
        class="form-group"
        ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty }">

    <label
            for="{{ id }}"
            translate="EMAIL">E-mail</label>
    <input
            ng-model="ngModel"
            ng-minlength="5"
            ng-maxlength="160"
            ng-click="blur()"
            type="email"
            class="form-control"
            id="{{ id }}"
            name="{{ id }}"
            placeholder="{{ 'INPUT_YOUR_EMAIL' | translate }}"
            required />

    <div
            class="alert alert-danger"
            ng-show="form.email.$invalid && form.email.$dirty">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ 'INVALID_EMAIL' | translate }}
    </div>
</div>